/* @import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap'); */
@font-face {
    font-family: MainFont;
    src: url(./font/whitneybold-webfont.woff2);
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

/* header */
.background {
    background-image: url(./images/Screenshot\ from\ 2022-08-09\ 21-37-38.png);
    min-height: 626px;
}

.logo {
    color: white;
    width: 8rem;
    
}

.header-link {
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: MainFont;
}

.nav-item :hover {
    color: white;
    text-decoration: underline;
}

.humberger {
    color: white;
    cursor: pointer;
}

/* /header */
